.container {
  width: 100%;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.header-wrap {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  padding-top: 29px;
  margin-right: 318px;
  margin-left: 137px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
  padding-top: 36px;
}

.nav-link {
  color: #F7FBFB;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
}

.section-hero-container {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  text-align: center;
  background-image: url(../../../images/hero_desk_1920.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 280px 170px;
}

.hero-city {
  color: #F7FBFB;
  font-size: 88px;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  margin-bottom: 40px;
}

.hero-title {
  width: 675px;
  margin: 0 auto;
  color: #F7FBFB;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 60px;
}

.button-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 575px;
  height: 69px;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 auto;
  background: #5B86A1;
  color: #F7FBFB;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: transparent;
  cursor: pointer;
}

.hero-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  cursor: pointer;
}

.section-about {
  color: #1B1D1B;
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 60px;
  padding-top: 80px;
}

.section-about-us {
  margin: 0 auto;
  width: 1170px;
  color: #202321;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 92px;
}

.section-advantatget {
  position: relative;
}

.section-our {
  color: #1B1D1B;
  text-align: center;
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 60px;
}

.section-our-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 20px;
  padding-bottom: 80px;
}

.our-img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section-our-list-wrap {
  position: absolute;
  top: 231px;
  left: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}

.section-our-list {
  width: 630px;
  height: 64px;
  background: #5B86A1;
  color: #F7FBFB;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.section-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 126px;
}

.section-tour-title {
  color: #1B1D1B;
  text-align: center;
  font-size: 68px;
  font-weight: 400;
  margin-bottom: 60px;
}

.section-tour-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.section-tour-list {
  background: #F7FBFB;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-tour-about {
  color: #1B1D1B;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.section-tour-from {
  color: #202321;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 36px;
}

.section-tour-thumb {
  padding: 48px 20px;
}

.btn-tour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 337px;
  height: 69px;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background: #5B86A1;
  border: none;
  cursor: pointer;
  color: #F7FBFB;
  font-size: 24px;
  font-weight: 500;
}

.section-reviews {
  color: #1B1D1B;
  text-align: center;
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 70px;
  padding-top: 80px;
}

.section-reviews-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.section-reviews-list {
  background: #F7FBFB;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.img-hero-rewiew {
  position: absolute;
  top: 14%;
  left: 17%;
  width: 125px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.img-hero-rewiew-2 {
  position: absolute;
  top: 14%;
  left: 45%;
  margin-bottom: 20px;
  border-radius: 50%;
  width: 125px;
}

.img-hero-rewiew-3 {
  width: 125px;
  position: absolute;
  top: 14%;
  left: 73%;
  margin-bottom: 20px;
  border-radius: 50%;
}

.section-reviews-thumb {
  padding: 83px 28px;
}

.section-reviews-hero {
  color: #5B86A1;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.section-review-title {
  color: #202321;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 321px;
}

.swiper {
  width: 575px;
  height: 445px;
}

.swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.section-question {
  position: relative;
  top: 0;
  left: 0;
}

.section-qestions-box {
  padding: 46px 60px;
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: azure;
  width: 774px;
  height: 583px;
}

.section-question-h3 {
  color: #1B1D1B;
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 32px;
}

.section-question-title {
  color: #202321;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  max-width: 502px;
}/*# sourceMappingURL=main.css.map */