.section-about{
color:  #1B1D1B;
font-size: 68px;
font-style: normal;
font-weight: 400;
line-height: normal; 
text-align: center;
margin-bottom: 60px;  
padding-top: 80px;
}
.section-about-us{
    margin:  0 auto;  
    width: 1170px;
    color:  #202321;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    padding-bottom: 92px;
}
