
.section-question{
 position: relative;
 top: 0;
 left: 0; 
}

.section-qestions-box{
    padding: 46px 60px;
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: azure;
    width: 774px;
    height: 583px;
}

.section-question-h3{
    color: #1B1D1B;
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 32px;
}
.section-question-title{
    color:  #202321;
    text-align: center;
    // margin-right: 130px;
    // margin-left: 130px;
    font-size: 20px;
    font-weight: 400;
    max-width: 502px;

}